
.footer {
  background-color: #1c4622 !important; /* Dark green for modern look */
  color:#d8c304 !important;
}

.footer-section {
  background: #1c4622;
  color:#d8c304 !important;
  padding: 50px 0 20px;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  z-index: 1;
}

.footer-top h5 {
  font-size: 20px;
  color: #ffc107;
  margin-bottom: 15px;
  position: relative;
}

.footer-top p,
.footer-top li {
  font-size: 15px;
  line-height: 1.6;
}

.footer-top ul {
  list-style: none;
  padding: 0;
}

.footer-top ul li {
  margin-bottom: 8px;
}

.footer-top ul li a {
  color:#d8c304 !important;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-top ul li a:hover {
  color: #ffc107;
  padding-left: 5px;
}

.footer-social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #ffc107;
  color: #003049;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 0.3s ease;
}

.footer-social-icons a:hover {
  background: #253a01;
   color:#d8c304 !important;
  transform: scale(1.1);
}