.second-navbar {
    background:#2a420069;  /* transparent black overlay */
  backdrop-filter: blur(6px);     /* glassy effect */
  position: relative;
  z-index: 15;   
  border: none;
  }
  
  .second-nav-link {
    color: #ffeb3b !important; /* bold yellow */
    font-weight: 600;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }

 